.Item-detail{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 40px;
}

.left{
    width: 40%;
}

.right{
    width: 50%;
    justify-content: center;
}


.right  .h2{
    font-size: 28px;
}

.right .titulo {
width: 90%;
}

.count-container{
    width: 60%;
    padding-left: 85px;
}

