.d-flexflex-column{
    display: flex;
    flex-wrap: wrap;
}


.d-flexmt-3{
    display: flex;
    font-family: 'Cherry Swash', cursive;
    flex-wrap: nowrap;
    width: 100%;
    height: 38px;
    justify-content: space-around;
    align-items: center;
}

.px-3mx-3{
    font-size: 25px ;
    color: rgb(0, 0, 0);
    font-family: 'Cherry Swash', cursive;
    align-content: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(90, 90, 230);
    border: 1.5 px solid rgb(255, 255, 255);
    padding-bottom: 15px;
}

.mt-3{
    font-size: 18px;
    font-family: 'Cherry Swash', cursive;
    color: rgb(0, 2, 3);
    padding: 10px 10px 10px 10px;
    height: 35px;
    width: 85px;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(90, 90, 230);
    border: 1.5px solid rgb(255, 255, 255);
}


.agregar{
    width: 100%;
}

.mt-3.btn.btn-danger{
    justify-content: center;
}